@{
    ViewData["Title"] = "About me!";
}

<div class="text-center">
    <h1 class="display-4">This about me!</h1>
    <p>Learn about me!</p>
    <img src="~/images/garfield.webp" width="500px;"/>
</div>
